body {
    font-family: 'Niramit', sans-serif;
    font-size: 16px;
    color: #101010;
}

.container {
    width: 950px;
    margin: 50px auto 0px auto;
    text-align: center;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 35px;
}

h1 span {
    font-family: 'Mali', cursive;
    font-weight: bold;
    color: #7A306C;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 30px auto 0;
}

.link a {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    font-size: 17px;
    color: #1f1f1f;
    text-decoration: none;
}

.link a:last-child {
    margin-right: 0;
}

.link a:hover {
    color: #7A306C;
}

.link a i {
    color: #7A306C;
    margin-right: 5px;
}

.content-block {
    margin-top: 50px;
}

.content-block h2 {
    margin-bottom: 30px;
}

.content-block__effect {
    position: relative;
}

.portfolio-effect {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 650px;
    background-color: rgba(36, 35, 35, 0.623);
    padding: 12px;
    margin-left: 80px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 265px;
    margin: 7px;
    color: #333;
    transition: all 1s;
}

.portfolioiteman {
    opacity: 0;
    transform: all 1s;
}

.portfolio-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.portfolio-item__info {
    position: absolute;
    top: 7px;
    left: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2 * 7px);
    height: calc(100% - 2 * 7px);
    background-color: #f9f1e6c2;
    padding: 0 5px;
}

.portfolio-item__header {
    position: relative;
    margin: 0 0 20px 0;
    padding: 15px 0;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.portfolio-item__header:after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 100%;
    content: '';
    background-color: #8D909B;
}

.portfolio-item__links {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}

.portfolio-item__link-block {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.portfolio-item__link-block:last-child {
    margin-right: 0;
}

.portfolio-item__link {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #101010;
    text-decoration: none;
    border: 1px solid #101010;
    border-radius: 50%;
}

.portfolio-item__link:hover {
    color: #fff;
    background-color: #101010;
}


/* EFFECT #3 STYLES */

.portfolio-item--eff3 .portfolio-item__info {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right top;
    transform-origin: right top;
}

.portfolio-item--eff3 .portfolio-item__header {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
}

.portfolio-item--eff3 .portfolio-item__header:after {
    bottom: -20px;
    opacity: 0;
}

.portfolio-item--eff3 .portfolio-item__link-block {
    opacity: 0;
}

.portfolio-item--eff3 .portfolio-item__link-block:first-child {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.portfolio-item--eff3 .portfolio-item__link-block:nth-child(2) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.portfolio-item--eff3:hover .portfolio-item__info {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.portfolio-item--eff3:hover .portfolio-item__header {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.45s;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.portfolio-item--eff3:hover .portfolio-item__header:after {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.6s;
    bottom: 0;
    opacity: 1;
}

.portfolio-item--eff3:hover .portfolio-item__link-block {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.85s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}