.navbar-brand{
    background-image: url("./新闻图片/logo.jpg");
    width: 60px;
    background-size: 73%;
    background-repeat: no-repeat;
    background-position: center center;
}
/*//对bootstrap元素的修改，在重新创建的css文件中进行覆盖。*/
.sidebar .list-group-item{
    border:0 ;
    border-radius: 3px;
    margin-bottom: 6px;
}


.sidebar .list-group-item.active{
    background-color: #d9534f;
    margin-top: 12px;
}

img{
    display: block;
    max-width: 100%;
    margin-top: 15px;
    border-radius: 6px;
}

.news-list-item .title{
    display:block;
    color: #2f2f2f;
    font-size:18px;
    font-weight:bold;
    margin-top: 16px;
    margin-bottom: 8px;
    line-height:1.8;
}


.news-list-item .info{
    color: #999999;
}


a:hover{
    text-decoration: none;
}
.news-list-item .title:hover{
    color: #0a53a3;
}


.avatar img{  /*为首页图标设置属性（刘二狗）*/
    display: inline-block;
    width:25px;
    height:25px;
    margin:0 6px;
}
.news-list-item{
    padding-bottom: 10px;
    border-bottom: 0.8px solid #adadad;
    /*设置下划线*/
}

.search-bar{
    margin-top:12px;
    /*给搜索栏设置外边距*/
}
.sidebar-card{
    background:rgba(0,0,0,.05);
    margin-top: 10px;
    padding:10px 0px;
    border-radius: 5px;
}


.sidebar-card .flag{
    padding:20px;
}
.sidebar-card .big{
    font-size: 150%;
}
.sidebar-card img{
    margin:0 auto;
}

.sidebar-card .card-title
{
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: bold;
}

.item{  /*设置最右侧列标中元素的属性*/
    padding-left: 15px;
    padding-right:15px;
    margin-bottom:10px;
}
.item:hover{
    background-color: rgba(0,0,0,.1);
}

.title{
    padding-top: 9px;
    padding-bottom:8px;
}

.desc{
    color:#999;
}

.news-title{
    line-height: 1.5;
}
.news-status{
    color:#999;
}
.news-status .label
{
    opacity: 0.7;
}
.news-content{
    margin-top:8px;
    padding-bottom:20px;
    line-height: 2;
    font-size:15px;
}

.news-content img
{
    margin-top:10px;
    margin-bottom:10px;
    width:100%;  /*如果不使用该属性图片不一定能占满整个宽度*/
}
/*为表单重新设置宽度，不设置的话默认沾满全行*/
.container-small{
    max-width: 500px;
}

.btn-primary{
    background-color: #d9534f;
    border-color: #d9534f;
}
.btn-primary:hover{
    background-color: #c9302c;
    border-color: #c9302c;
}   /*登录按钮的样式重置*/


.footer{
    text-align: center;
    color:#999;
    margin-top: 166px;
}

#toggle-checkbox:checked~div{    /*这个框如果被选中之后*/
    display:block; !important;
}
#toggle-label{     /*“隐藏MENU的属性设置”*/
    display:inline-block;
    position: absolute;
    right:15px;
    top:10px;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
    display: none;
}
#toggle-label:hover{
    color:#333;
}